* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: rgb(192, 234, 242);
    margin: 0;
    background-image: url("../images/bg.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:1;
    transition: background-image 3s ease-in-out;
}

.container {
    width: 600px;
    height: 450px;
    opacity: .90;
}

.heading {
    background-color: rgba(255, 255, 255, 0.438);
    color: rgb(5, 5, 5);
    width: 80%;
    border-radius: 200px;
    margin: 50px auto 10px;
    padding: 5px;
    backdrop-filter: blur(30px);
    border: 2px solid black;
}

.main-content {
    background-color: rgba(255, 255, 255, 0.514);
    color: black;
    backdrop-filter: blur(30px);
    padding: 50px 40px;
    border-radius: 15px;
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0rem  1rem;
}

.quote {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: bold;
    font-style: italic;
}

.person {
    color: rgb(2, 4, 53);
    font-size: 1.5rem;
    margin-top: 20px;
    /* text-transform: uppercase; */
}

button {
    cursor: pointer;
    width: max-content;
    font-size: 0.8rem;
    height: 2.5rem;
    border:1px solid black;
    border-radius: 80px;
    color: rgb(0, 0, 0);
    background: rgba(223, 223, 223, 0.446);
    outline: none;
    backdrop-filter: blur(40px);
    padding: 0.5rem 1.8rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    opacity: .90;
}

button i {
    margin-right: 0.5rem;
}

.fa-twitter {
    font-size: 1rem;
}

.button-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    opacity: .90;
}



button:active {
    background-color: lightblue;
}

.twitter-button:hover {
    color: #38a1f3;
    
}
.button:hover{
  color: #08273f;
}

@media (max-width: 600px) {
    .container {
        width: 80%;
    }

    .button-container {
        flex-direction: column;
         
    }
}

@media screen and (max-width: 530px) {
    .container{
        margin-bottom: 250px;
    }
    .button-container{
        flex-direction: column;
        gap: 10px;
        
    }
    #twitter{
        padding: 0px;
    }
    #new-quote{
        padding: 0px;
    }
}
@media screen and (max-width: 300px) {
    .button-container{
        flex-direction: column;
        gap: 10px;
        
    }
    
}

