* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: rgb(192, 234, 242);
    margin: 0;
    background-image: url("../images/bg.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:1;
    transition: background-image 3s ease-in-out;
}

.container {
    width: 600px;
    height: 450px;
    opacity: .90;
}

.navbar{
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 720px;
    background-color: rgba(255, 255, 255, 0.7);
}

.links{
    display: flex;
    gap: 35px;
}
.links a{
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: lighter;
    color: #6f7174;
}
.links a:hover{
    color: #000;
}

.links a.active{
    /* text-decoration: underline;
    text-underline-offset: 8px; */
    color: #000;
    font-weight: bolder;

}

.buttons{
    display: flex;
    gap: 15px;
}

.btn-1, .btn-2{
    cursor: pointer;
    width: max-content;
    font-size: 0.8rem;
    height: 2.5rem;
    border:1px solid black;
    border-radius: 80px;
    color: rgb(0, 0, 0);
    background: rgba(223, 223, 223, 0.446);
    outline: none;
    backdrop-filter: blur(40px);
    padding: 0.5rem 1.8rem;
}
.btn-1:hover, .btn-2:hover{
    background: rgb(227, 226, 226);
}

.heading {
    background-color: rgba(255, 255, 255, 0.438);
    color: rgb(5, 5, 5);
    width: 80%;
    border-radius: 200px;
    margin: 50px auto 10px;
    padding: 5px;
    backdrop-filter: blur(30px);
    border: 2px solid black;
}

.main-content {
    background-color: rgba(255, 255, 255, 0.514);
    color: black;
    backdrop-filter: blur(30px);
    padding: 50px 40px;
    border-radius: 15px;
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0rem  1rem;
}

.quote {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: bold;
    font-style: italic;
}

.person {
    color: rgb(2, 4, 53);
    font-size: 1.5rem;
    margin-top: 20px;
    cursor: pointer;
    /* text-transform: uppercase; */
}

.box-btn {
    cursor: pointer;
    width: max-content;
    font-size: 0.8rem;
    height: 2.5rem;
    border:1px solid black;
    border-radius: 80px;
    color: rgb(0, 0, 0);
    background: rgba(223, 223, 223, 0.446);
    outline: none;
    backdrop-filter: blur(40px);
    padding: 0.5rem 1.8rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    opacity: .90;
}

button i {
    margin-right: 0.5rem;
}

.fa-twitter {
    font-size: 1rem;
}

.button-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    opacity: .90;
}



button:active {
    background-color: lightblue;
}

.twitter-button:hover {
    color: #38a1f3;
    
}
.button:hover{
  color: #08273f;
}

.topics-cont{
    display: none;
}
.all-tags{
    background-color: rgba(255, 255, 255, 0.514);
    color: black;
    backdrop-filter: blur(30px);
    padding: 10px 0px;
    border-radius: 15px;
    box-shadow: 0 0 10px;

}
.tags-cont{
    margin-top: 30px;
    height: 500px;
    overflow-x: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    background-color: rgba(255, 255, 255, 0.514);
    color: black;
    font-size: 19px;
    backdrop-filter: blur(30px);
    padding: 10px 30px;
    border-radius: 15px;
    width: 400px;
    align-items: center;
    box-shadow: 0 0 10px;

}
.tags-cont div{
    width: 100%;
    padding: 8px 0px;
    cursor: pointer;
    border-radius: 10px;
    /* transition: .2s ease-out; */
}
.tags-cont div:hover{
    background-color: #fff;
    outline-color: #000;
}
.auth-profile{
    display: none;
    background-color: rgba(255, 255, 255, 0.514);
    color: black;
    font-size: 19px;
    backdrop-filter: blur(30px);
    padding: 10px 30px;
    border-radius: 15px;
    width: 600px;
    align-items: center;
    box-shadow: 0 0 10px;
}
.num-cont{
    margin-top: 20px;
}

.back{
    cursor: pointer;
    margin-top: 50px;
    padding: 9px 15px;
    background-color: #fff;
    border-radius: 5px;
    width: fit-content;
    outline: 1.5px solid black;
}

@media (max-width: 600px) {
    .container {
        width: 80%;
    }

    .button-container {
        flex-direction: column;
         
    }
}

@media screen and (max-width: 530px) {
    .container{
        margin-bottom: 250px;
    }
    .button-container{
        flex-direction: column;
        gap: 10px;
        
    }
    #twitter{
        padding: 0px;
    }
    #new-quote{
        padding: 0px;
    }
}
@media screen and (max-width: 300px) {
    .button-container{
        flex-direction: column;
        gap: 10px;
        
    }
    
}

/* .btn-1{
    margin-top: -40rem;
    margin-left:50rem;
}

.btn-2{
    margin-top: -2.5rem;
    margin-left: 42rem;
} */