* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: rgb(192, 234, 242);
    margin: 0;
    position: relative;
}

.bgImage {
    position: absolute;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: url("./images/bg.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    z-index: -2;
    transition: 0.7s background-image ease-in-out;
}

.container {
    width: 500px;
    height: 450px;
}

.heading {
    background-color: rgb(240, 198, 255);
    color: rgb(5, 5, 5);
    width: 80%;
    margin: 50px auto 10px;
    padding: 5px;
    border: 2px solid #eee;
    border-radius: 10px 10px;
}

.main-content {
    background-color: #eee;
    color: black;
    padding: 50px 40px;
    border-radius: 15px;
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px;
}

.quote {
    font-size: 1.2rem;
    line-height: 1.5;
}

.person {
    color: rgb(2, 99, 23);
    font-size: 1.5rem;
    margin-top: 20px;
    text-transform: uppercase;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: #333;
    outline: none;
    padding: 0.5rem 1.8rem;
}

.fa-twitter {
    font-size: 1.5rem;
}

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button:active {
    background-color: lightblue;
}

.twitter-button:hover {
    color: #38a1f3;
}

@media (max-width: 600px) {
    .container {
        width: 80%;
    }
}
